<h1>
Client-side test for socketio <button id="run"><i class="fa fa-caret-square-o-right"></i></button>
</h1>

<ol id="cases">
    <li class="{{ case.status }}" ng-repeat="(caseName, case) in test.cases">
        <div class="sign">
            <i class="fa fa-check-circle" ng-show="case.status === 'passed'"></i>
            <i class="fa fa-exclamation-circle" ng-show="case.status === 'failed'"></i>
        </div><div class="content">{{case.name}}<span class="detail">{{case.description}}</span></div><div class="buttons">
            <button><i class="fa fa-repeat"></i></button>
            <button><i class="fa fa-rocket"></i></button>
        </div>
    </li>
</ol>