<div class="outer-panel">
    <div id="{{test.name | lowercase}}" class="panel">
        <header>
            <div class="panel-header-h1">
                <h2>{{test.name}}</h2>
            </div>
            <div class="run-button">
                <button><i class="fa fa-play-circle"></i></button>
            </div>
        </header>
        <section>
            <ol>
                <case ng-repeat="case in cases"></case>
                <!-- <li class="test-case" ng-click="test.connect()">
                    <div class="test-case-content">
                        <span class="caption">Receive</span>
                        <span class="detail">greetings from server</span>
                    </div>
                    <div class="test-case-sign">
                    </div>
                </li>
                <li class="test-case" ng-click="test.connect()">
                    <div class="test-case-content">
                        <span class="caption">Send</span>
                        <span class="detail">blessings to server</span>
                    </div>
                    <div class="test-case-sign">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                </li>
                <li class="test-case" ng-click="test.connect()">
                    <div class="test-case-content">
                        <span class="caption">Echo</span>
                        <span class="detail">without data</span>
                    </div>
                    <div class="test-case-sign">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    
                    
                </li> -->
            </ol>
        </section>
    </div>
</div>